.fudr{
    justify-content: center;
    text-align: center;
}

.ful{
    display: flex;
}

.chap{
    background-color: rgb(80, 80, 80);
    color: rgb(232, 228, 228);
    width: 350px;
    height: 350px;
    margin: 10px;
}

.hlar{
    margin-left: 20px;
}

.ong{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin: 20px;
}

.name{
    width: 200px;
    height: 20px;
}

.email{
    width: 200px;
    height: 20px;
}

.sub{
    width: 413px;
    height: 20px;
}

.mes{
    width: 413px;
    height: 100px;
    text-align: start;
}

.btn{
    margin-left: 170px;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
    color:rgb(232, 228, 228);
}

.ful{
    border: 1px solid;
    width: 1000px;
    height: 370px;
    margin-left: 100px;
}