.mather{
    display: flex;
    justify-content: center;
}

.fudr{
    justify-content: center;
}

.btn{
    width: 300px;
    height: 30px;
}

#btn{
    background-color: blue;
    color: white;
}

.h5{
    color: rgb(57, 57, 255);
}